/*清除默认样式*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select,
button {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 14px;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
}
ul,
ol,
dl {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  outline: none;
  border: none;
}
i,
em {
  font-style: normal;
}
button {
  border: 0;
}
